*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 900px;
    height: 100vh;
    padding: 20px;
    margin: auto;
    background-color:rgb(133, 210, 255);
}

/*Utility*/
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Class Section*/
.number{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color:rgb(116, 107, 192);
}

.number h1{
    text-align: center;
    line-height: 100px;
}

